<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <div class="compose-container">
            <div class="compose-header">
                <h4>Create a Review</h4>
                <span class="clickable"><strong>x</strong></span>
            </div>
            <form action="/submit-review" method="POST" enctype="multipart/form-data">
                <div class="compose-subject">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="70.000000pt" height="30.000000pt" viewBox="0 0 2560.000000 512.000000"
                preserveAspectRatio="xMidYMid meet" fill="#595959">
                    <g class="flag-1 green-flag clickable" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                     stroke="none" fill="#595959">
                    <path d="M4275 5010 c-130 -131 -243 -214 -380 -280 -324 -156 -666 -190
                    -1305 -130 -118 11 -287 27 -375 36 -674 64 -1079 -1 -1412 -225 -115 -78
                    -226 -179 -220 -200 3 -9 159 -565 346 -1236 188 -671 348 -1244 357 -1273
                    l15 -54 52 49 c177 168 395 281 647 336 289 64 556 64 1215 -2 306 -31 566
                    -44 710 -37 482 25 790 150 1067 434 95 97 118 137 118 207 0 52 8 46 -193
                    156 -135 73 -335 204 -469 306 -145 110 -307 251 -320 278 -8 18 1 69 45 252
                    111 453 194 893 246 1294 31 238 14 248 -144 89z"/>
                    <path d="M158 4241 c-93 -30 -153 -110 -152 -201 1 -40 148 -578 547 -2004
                    594 -2121 552 -1987 634 -2022 45 -20 75 -18 168 11 109 33 155 83 155 168 0
                    18 -245 910 -545 1982 -439 1571 -550 1958 -572 1989 -16 22 -46 48 -67 59
                    -43 23 -126 31 -168 18z"/>
                    </g>

                    <g class="flag-2 green-flag clickable" transform="translate(512.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M4275 5010 c-130 -131 -243 -214 -380 -280 -324 -156 -666 -190
                    -1305 -130 -118 11 -287 27 -375 36 -674 64 -1079 -1 -1412 -225 -115 -78
                    -226 -179 -220 -200 3 -9 159 -565 346 -1236 188 -671 348 -1244 357 -1273
                    l15 -54 52 49 c177 168 395 281 647 336 289 64 556 64 1215 -2 306 -31 566
                    -44 710 -37 482 25 790 150 1067 434 95 97 118 137 118 207 0 52 8 46 -193
                    156 -135 73 -335 204 -469 306 -145 110 -307 251 -320 278 -8 18 1 69 45 252
                    111 453 194 893 246 1294 31 238 14 248 -144 89z"/>
                    <path d="M158 4241 c-93 -30 -153 -110 -152 -201 1 -40 148 -578 547 -2004
                    594 -2121 552 -1987 634 -2022 45 -20 75 -18 168 11 109 33 155 83 155 168 0
                    18 -245 910 -545 1982 -439 1571 -550 1958 -572 1989 -16 22 -46 48 -67 59
                    -43 23 -126 31 -168 18z"/>
                    </g>

                    <g class="flag-3 green-flag clickable" transform="translate(1024.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M4275 5010 c-130 -131 -243 -214 -380 -280 -324 -156 -666 -190
                    -1305 -130 -118 11 -287 27 -375 36 -674 64 -1079 -1 -1412 -225 -115 -78
                    -226 -179 -220 -200 3 -9 159 -565 346 -1236 188 -671 348 -1244 357 -1273
                    l15 -54 52 49 c177 168 395 281 647 336 289 64 556 64 1215 -2 306 -31 566
                    -44 710 -37 482 25 790 150 1067 434 95 97 118 137 118 207 0 52 8 46 -193
                    156 -135 73 -335 204 -469 306 -145 110 -307 251 -320 278 -8 18 1 69 45 252
                    111 453 194 893 246 1294 31 238 14 248 -144 89z"/>
                    <path d="M158 4241 c-93 -30 -153 -110 -152 -201 1 -40 148 -578 547 -2004
                    594 -2121 552 -1987 634 -2022 45 -20 75 -18 168 11 109 33 155 83 155 168 0
                    18 -245 910 -545 1982 -439 1571 -550 1958 -572 1989 -16 22 -46 48 -67 59
                    -43 23 -126 31 -168 18z"/>
                    </g>

                    <g class="flag-4 green-flag clickable" transform="translate(1536.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M4275 5010 c-130 -131 -243 -214 -380 -280 -324 -156 -666 -190
                    -1305 -130 -118 11 -287 27 -375 36 -674 64 -1079 -1 -1412 -225 -115 -78
                    -226 -179 -220 -200 3 -9 159 -565 346 -1236 188 -671 348 -1244 357 -1273
                    l15 -54 52 49 c177 168 395 281 647 336 289 64 556 64 1215 -2 306 -31 566
                    -44 710 -37 482 25 790 150 1067 434 95 97 118 137 118 207 0 52 8 46 -193
                    156 -135 73 -335 204 -469 306 -145 110 -307 251 -320 278 -8 18 1 69 45 252
                    111 453 194 893 246 1294 31 238 14 248 -144 89z"/>
                    <path d="M158 4241 c-93 -30 -153 -110 -152 -201 1 -40 148 -578 547 -2004
                    594 -2121 552 -1987 634 -2022 45 -20 75 -18 168 11 109 33 155 83 155 168 0
                    18 -245 910 -545 1982 -439 1571 -550 1958 -572 1989 -16 22 -46 48 -67 59
                    -43 23 -126 31 -168 18z"/>
                    </g>
                    
                    <g class="flag-5 gray-flag clickable" transform="translate(2048.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M4275 5010 c-130 -131 -243 -214 -380 -280 -324 -156 -666 -190
                    -1305 -130 -118 11 -287 27 -375 36 -674 64 -1079 -1 -1412 -225 -115 -78
                    -226 -179 -220 -200 3 -9 159 -565 346 -1236 188 -671 348 -1244 357 -1273
                    l15 -54 52 49 c177 168 395 281 647 336 289 64 556 64 1215 -2 306 -31 566
                    -44 710 -37 482 25 790 150 1067 434 95 97 118 137 118 207 0 52 8 46 -193
                    156 -135 73 -335 204 -469 306 -145 110 -307 251 -320 278 -8 18 1 69 45 252
                    111 453 194 893 246 1294 31 238 14 248 -144 89z"/>
                    <path d="M158 4241 c-93 -30 -153 -110 -152 -201 1 -40 148 -578 547 -2004
                    594 -2121 552 -1987 634 -2022 45 -20 75 -18 168 11 109 33 155 83 155 168 0
                    18 -245 910 -545 1982 -439 1571 -550 1958 -572 1989 -16 22 -46 48 -67 59
                    -43 23 -126 31 -168 18z"/>
                    </g>
                </svg>
                <input type="text" class="subject" name="subject" placeholder="Subject">
                </div>
                <textarea class="message" name="message" rows="6" placeholder="Share your thought"></textarea>
                <div class="review-uploads" style="display:none">
                    <img src="" alt="upload">
                    <img src="" alt="upload">
                    <img src="" alt="upload">
                    <img src="" alt="upload">
                </div>
                <div class="add-icons">
                    <img src="../assets/png/attach.png" class="attach clickable" alt="attach">
                    <button name="submit-create-review" type="submit" value="Submit" class="clickable"><img src="../assets/png/post.png"  class="send clickable" alt="send"></button>
                </div>

                <input type="text" name="rating" value="3" class="review-rating" style="display:none;">
                <input type="text" name="restaurantId" value="{{restaurantId}}" style="display:none;">
                <input id="revUpload" style="display: none" name="revUploads" type="file" accept="image/*" multiple>
            </form>
        </div>
        <!-- JQuery Lib -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="../src/index.js"></script>
        <script>
            var rating = 3;
            setInterval(function(){
                
                $('form svg .flag-1').on('click', function(){
                    rating = 1;
                    $('form .review-rating').val(1);
                })
                $('form svg .flag-2').on('click', function(){
                    rating = 2;
                    $('form .review-rating').val(2);
                })
                $('form svg .flag-3').on('click', function(){
                    rating = 3;
                    $('form .review-rating').val(3);
                })
                $('form svg .flag-4').on('click', function(){
                    rating = 4;
                    $('form .review-rating').val(4);
                })
                $('form svg .flag-5').on('click', function(){
                    rating = 5;
                    $('form .review-rating').val(5);
                })

                for(var i = 0; i < 5; i++){
                    if(i < rating){
                        if(rating < 3){
                            $('form svg .flag-' + (i + 1)).css('fill', '#800037');
                        } else {
                            $('form svg .flag-' + (i + 1)).css('fill', '#008037');
                        }
                    }else{
                        $('form svg .flag-' + (i + 1)).css('fill', '#595959');
                    }
                }
            }, 100);

            const pseudoBtn = $('.compose-container form .add-icons .attach');
            const picUploadBtn = $('#revUpload');
            const img = $('.review-uploads');
            
            function handleImagePreview(file) {
                const reader = new FileReader();
                const imgElement = document.createElement('img');
                imgElement.classList.add('img-preview');

                reader.onload = function(e) {
                    imgElement.src = e.target.result;
                }

                reader.readAsDataURL(file);

                return imgElement;
            }

            pseudoBtn.on('click', function(){
                picUploadBtn.click();
            });

            picUploadBtn.on('change', function(){
                var len = [...this.files].length;
                var files = [...this.files].slice(0,len);
                //console.log(files);
                img.empty(); // Clear previous previews

                // Loop through selected files and create image previews for each one
                for (let i = 0; i < len; i++) {
                    const file = files[i];
                    const imgElement = handleImagePreview(file);
                    img.append(imgElement);
                }
                img.css('display', 'flex');
            })
        </script>
    </body>
</html>