<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Side Bar</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="side-bar">
      <form class="search-bar" action="/search" method="POST">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Enter search item"
        />
      </form>

      <div class="side-bar-pink">
        <div class="side-bar-green">
          <div class="side-home">
            <a href="/">
              <svg
                fill="white"
                width="26"
                height="20"
                viewBox="0 0 26 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.80003 19.0296C8.80003 19.564 9.24775 19.9972 9.80003 19.9972C10.3523 19.9972 10.8 19.564 10.8 19.0296H8.80003ZM9.80003 16.1513L8.80077 16.1143C8.80027 16.1267 8.80003 16.1389 8.80003 16.1513H9.80003ZM13 13.2743L12.9648 14.2413C12.9883 14.242 13.0117 14.242 13.0352 14.2413L13 13.2743ZM16.2 16.1513H17.2C17.2 16.1389 17.1997 16.1267 17.1993 16.1143L16.2 16.1513ZM15.2 19.0296C15.2 19.564 15.6477 19.9972 16.2 19.9972C16.7522 19.9972 17.2 19.564 17.2 19.0296H15.2ZM9.80003 18.062C9.24775 18.062 8.80003 18.4952 8.80003 19.0296C8.80003 19.564 9.24775 19.9972 9.80003 19.9972V18.062ZM16.2 19.9972C16.7522 19.9972 17.2 19.564 17.2 19.0296C17.2 18.4952 16.7522 18.062 16.2 18.062V19.9972ZM9.80003 19.9972C10.3523 19.9972 10.8 19.564 10.8 19.0296C10.8 18.4952 10.3523 18.062 9.80003 18.062V19.9972ZM9.00003 19.0296V18.062C8.9883 18.062 8.97657 18.0621 8.96483 18.0625L9.00003 19.0296ZM4.20007 14.7128H3.20008C3.20008 14.7249 3.20032 14.7372 3.2008 14.7494L4.20007 14.7128ZM5.20006 6.06113C5.20006 5.52675 4.75235 5.09353 4.20007 5.09353C3.64779 5.09353 3.20008 5.52675 3.20008 6.06113H5.20006ZM0.438499 7.36217C-0.0184708 7.66223 -0.13747 8.26395 0.172688 8.70621C0.482859 9.14833 1.10473 9.26342 1.56169 8.96333L0.438499 7.36217ZM4.76166 6.86174C5.21863 6.56162 5.33763 5.95989 5.02748 5.51773C4.71731 5.07558 4.09543 4.96042 3.63847 5.26054L4.76166 6.86174ZM3.63847 5.26054C3.18149 5.56063 3.0625 6.16233 3.37264 6.6045C3.68278 7.04668 4.3047 7.16183 4.76166 6.86174L3.63847 5.26054ZM11.1547 1.49406L10.6122 0.681239C10.6058 0.685238 10.5994 0.689302 10.5931 0.693444L11.1547 1.49406ZM14.8453 1.49406L15.4069 0.693444C15.4006 0.689302 15.3942 0.685238 15.3878 0.681239L14.8453 1.49406ZM21.2383 6.86177C21.6954 7.16185 22.3173 7.04668 22.6274 6.6045C22.9375 6.16233 22.8185 5.5606 22.3615 5.26052L21.2383 6.86177ZM16.2 18.062C15.6477 18.062 15.2 18.4952 15.2 19.0296C15.2 19.564 15.6477 19.9972 16.2 19.9972V18.062ZM17 19.0296L17.0352 18.0625C17.0234 18.0621 17.0117 18.062 17 18.062V19.0296ZM21.7999 14.7128L22.7993 14.7494C22.7997 14.7372 22.7999 14.7249 22.7999 14.7128H21.7999ZM22.7999 6.06113C22.7999 5.52675 22.3522 5.09353 21.7999 5.09353C21.2477 5.09353 20.7999 5.52675 20.7999 6.06113H22.7999ZM24.4386 8.96217C24.8956 9.26225 25.5175 9.14692 25.8275 8.70466C26.1375 8.2624 26.0183 7.66068 25.5612 7.36073L24.4386 8.96217ZM22.3615 5.26052C21.9045 4.96052 21.2825 5.07572 20.9723 5.51796C20.6623 5.96021 20.7813 6.56177 21.2383 6.86177L22.3615 5.26052ZM10.8 19.0296V16.1513H8.80003V19.0296H10.8ZM10.7994 16.1882C10.8434 15.0728 11.8119 14.2019 12.9648 14.2413L13.0352 12.3072C10.7807 12.2305 8.88687 13.9331 8.80077 16.1143L10.7994 16.1882ZM13.0352 14.2413C14.1881 14.2019 15.1567 15.0728 15.2007 16.1882L17.1993 16.1143C17.1132 13.9331 15.2193 12.2305 12.9648 12.3072L13.0352 14.2413ZM15.2 16.1513V19.0296H17.2V16.1513H15.2ZM9.80003 19.9972H16.2V18.062H9.80003V19.9972ZM9.80003 18.062H9.00003V19.9972H9.80003V18.062ZM8.96483 18.0625C6.9596 18.1309 5.27537 16.6161 5.19934 14.6762L3.2008 14.7494C3.31858 17.7555 5.92822 20.1025 9.03523 19.9966L8.96483 18.0625ZM5.20006 14.7128V6.06113H3.20008V14.7128H5.20006ZM1.56169 8.96333L4.76166 6.86174L3.63847 5.26054L0.438499 7.36217L1.56169 8.96333ZM4.76166 6.86174L11.7163 2.29469L10.5931 0.693444L3.63847 5.26054L4.76166 6.86174ZM11.6972 2.30688C12.4903 1.81131 13.5097 1.81131 14.3028 2.30688L15.3878 0.681239C13.9344 -0.22708 12.0656 -0.22708 10.6122 0.681239L11.6972 2.30688ZM14.2837 2.29469L21.2383 6.86177L22.3615 5.26052L15.4069 0.693444L14.2837 2.29469ZM16.2 19.9972H17V18.062H16.2V19.9972ZM16.9648 19.9966C20.0718 20.1025 22.6814 17.7555 22.7993 14.7494L20.8006 14.6762C20.7246 16.6161 19.0404 18.1309 17.0352 18.0625L16.9648 19.9966ZM22.7999 14.7128V6.06113H20.7999V14.7128H22.7999ZM25.5612 7.36073L22.3615 5.26052L21.2383 6.86177L24.4386 8.96217L25.5612 7.36073Z"
                />
              </svg>
            </a>
          </div>

          <div class="side-profile">
            <a href="/login">
              <svg
                fill="white"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.5625 18H3.43817C2.73178 18 2.21015 17.303 2.47658 16.662C3.71276 13.698 6.61693 12 9.99985 12C13.3838 12 16.288 13.698 17.5241 16.662C17.7906 17.303 17.2689 18 16.5625 18ZM5.91667 5.99998C5.91667 3.79398 7.74899 1.99998 9.99985 1.99998C12.2517 1.99998 14.083 3.79398 14.083 5.99998C14.083 8.20598 12.2517 9.99998 9.99985 9.99998C7.74899 9.99998 5.91667 8.20598 5.91667 5.99998ZM19.9557 17.636C19.2136 14.277 16.8923 11.798 13.837 10.673C15.456 9.39596 16.4002 7.33093 16.0532 5.06993C15.651 2.44693 13.4236 0.347977 10.7348 0.0419769C7.02321 -0.381023 3.87507 2.44898 3.87507 5.99998C3.87507 7.88998 4.76929 9.57396 6.1637 10.673C3.10743 11.798 0.787164 14.277 0.044024 17.636C-0.225466 18.857 0.778998 20 2.05397 20H17.9457C19.2217 20 20.2262 18.857 19.9557 17.636Z"
                />
              </svg>
            </a>
          </div>

          <div class="side-about">
            <a href="/about">
              <svg
                width="25"
                fill="white"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.5 0C5.59646 0 0 5.59639 0 12.5C0 19.4035 5.59646 25 12.5 25C19.4036 25 25 19.4035 25 12.5C25 5.59639 19.4036 0 12.5 0ZM12.5 22.5C6.98601 22.5 2.5 18.014 2.5 12.5C2.5 6.98601 6.98601 2.5 12.5 2.5C18.0141 2.5 22.5 6.98601 22.5 12.5C22.5 18.014 18.0141 22.5 12.5 22.5ZM14.0652 7.5C14.0652 8.4063 13.4054 9.0625 12.5127 9.0625C11.5839 9.0625 10.9402 8.4063 10.9402 7.48266C10.9402 6.59494 11.6013 5.9375 12.5127 5.9375C13.4054 5.9375 14.0652 6.59494 14.0652 7.5ZM11.2527 11.25H13.7527V18.75H11.2527V11.25Z"
                />
              </svg>
            </a>
          </div>

          <div class="side-search">
            <svg
              class="clickable"
              fill="white"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0337 12.4L20 17.4375L17.5 20L12.4063 15.03C11.1215 15.8295 9.63816 16.2522 8.125 16.25C3.6375 16.25 0 12.6037 0 8.125C0 3.6375 3.64625 0 8.125 0C12.6125 0 16.25 3.64625 16.25 8.125C16.2523 9.63569 15.8309 11.1167 15.0337 12.4ZM2.49625 8.065C2.49625 11.165 5.01375 13.69 8.12125 13.69C11.2212 13.69 13.7462 11.1712 13.7462 8.065C13.7462 4.965 11.2275 2.44 8.12125 2.44C5.02125 2.44 2.49625 4.9575 2.49625 8.065Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    ></script>
    <script>
      
$(document).ready(function () {
  var iconContainers = $(".side-bar-pink .side-bar-green div");
  var searchBar = $(".side-bar .search-bar");
  $(".side-bar-pink .side-bar-green .selected svg").attr("fill", "black");

  iconContainers.on("click", function (e) {
    let target = e.currentTarget.className;
    iconContainers.find("svg").attr("fill", "white");

    if (target == "side-search") {
      $(".side-search").attr("class", "side-search selected");
      searchBar.css("padding", "14px 15px");
      searchBar.find("#search").css("width", "250px");
    } else {
      $(".side-search").attr("class", "side-search");

      searchBar.find("#search").css("width", "0");
      searchBar.css("padding", "14px 0");
    }
  });

  const currentPath = window.location.pathname;

  if (currentPath == "/") {
    $(".side-home").addClass("selected");
    $(".side-home svg").css("fill", "black");
  } else if (currentPath.split("profile").length >1) {
    $(".side-profile").addClass("selected");
    $(".side-profile svg").css("fill", "black");
  } else if (currentPath == "/about") {
    console.log("IN ABOUT");
    $(".side-about").addClass("selected");
    $(".side-about svg").css("fill", "black");
  }
});
    </script>
  </body>
</html>