<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/png" href="/./assets/cafelogo.png"> 
    <link rel="icon" href="assets/ico/favicon.ico" type="image/x-icon" />
    <title>Forgot Password - AnimoEats</title>
  </head>

  <body class="sign-up-log-in-body">
    <!-- FORGOT PASSWORD BODY -->
    <div class="sign-up-log-in-content">
      <div class="content">
        <div class="left">
          <h1>Find your account</h1>
          Please enter your email or mobile number to search for your account.
          <form class="forgot-grid" action="/forgot-password" method="post">
            <input
              class="other"
              name="email-restore"
              type="text"
              placeholder="Email"
            />
            <button
              class="other button button-inside"
              name="submit-forgot-password"
              type="submit"
              value="Search"
            >Search</button>
          </form>
          <div class="bottom">
            {{#if errorMessage}}
              <div class="error-message">
                {{errorMessage}}
              </div>
            {{/if}}
            <a href="/login">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>