 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/reviewpage.css">
    <script src="/script/reviewpage.js" defer></script>
</head>
<body>
    <header>
 <div id="navbar" class="navbar">
        <img src="../../images/Logo.png" class ="cafestlogo">
        <a href="/index" class="webname">
            <span class="cafe">Cafe</span>
            <span class="st"> St.</span>
        </a>
        <ul>
            <li><a href="/index?username={{username}}">Home</a></li>
            <li><a href="/view-establishments?username={{username}}">View Establishments</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
          <div class="user-icon-container">
            <div class="dropdown">
                <button class="user-button" onclick="toggleDropdown()">
                    <img src="{{#if pic}}{{ pic }}{{else}}/images/usericon.png{{/if}}" alt="User Icon" id="icon" class="user">
                </button>
                <div class="dropdown-content" id="dropdownContent">
                    <a href="/sign-up">Sign Up</a>
                    
                    <a href="/profile">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    </header>
</body>
</html>