<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/searchpage.css">
    <script src="/script/searchpage.js" defer></script>
</head>
<body>
    <header>
<div id="navbar" class="navbar">
        <img src="../../images/Logo.png" class="logo"> 
        <a href="/index" class="webname">
            <p class="web-name"><span class="Cafe-title">Cafe</span> <span class="St-title">St.</span></p>
        </a>
        <ul>
            <li id="home-link"><a href="/index">Home</a></li>
            <li><a href="/view-establishments">View Establishments</a></li>
            <li><a href="login.html">Log In</a></li>
          </ul>
          <div class="user-icon-container">
            <div class="dropdown">
                <button class="user-button" onclick="toggleDropdown()">
                    <img src="{{pic}}" alt="User Icon" id="icon" class="user" />
                </button>
                <div class="dropdown-content" id="dropdownContent">
                    <a href="sign-up.html">Sign Up</a>
                    <a href="profile.html">View Profile</a>
                </div>
            </div>
        </div>
    </div>
       </header>
</body>
</html>
