@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #eff7d3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding-top: 5%;
  background-image: url(../images/tomo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

nav {
  position: fixed;
  font-family: "Poppins";
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 50px;
  box-sizing: border-box;
  background: #d1ae8d;
  border-bottom: 1px solid #eff7d3;
  border-top: 1px solid #eff7d3;
  border-radius: 5px;
  z-index: 1000;
}

nav .title {
  padding: 10px 10px;
  height: 80px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  font-family: "Popppins";
}

nav a {
  display: flex;
  float: right;
  margin: 0;
  line-height: 60px;
  color: #000000;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

nav a:hover {
  color: #eff7d3;
  background-color: #707955;
  border-radius: 30px;
}

.search-container {
  display: flex;
  align-items: right;
  padding: 10px 100px;
  font-family: "Poppins";
}

.search-container input {
  padding: 10px;
  border-radius: 30px;
  margin-right: 5px;
  font-family: "Poppins";
}

.search-container button {
  padding: 8px 25px;
  background-color: #535a3b;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.search-container button:hover {
  background-color: #a7b99e;
}

h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}

h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(234, 204, 83, 0.5);
  font-family: "Poppins";
}

p {
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(186, 170, 135, 0.5);
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #ab9a7c;
  background-color: #ab9a7c;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #f9ffe4;
  color: #f9ffe4;
}

button.ghost i {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

button.ghost i.register {
  right: 70px;
}

button.ghost i.login {
  left: 70px;
}

button.ghost:hover i.register {
  right: 40px;
  opacity: 1;
}

button.ghost:hover i.login {
  left: 40px;
  opacity: 1;
}

form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border-radius: 30px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.card {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 1068px;
  max-width: 100%;
  min-height: 550px;
}

.form-card {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.avatar {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.avatar label {
  display: block;
  border-radius: 60%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar input {
  display: none;
}

.avatar label {
  border: 2px solid #ab9a7c;
}

.avatar label:hover {
  border-color: #d1ae8d;
}

.form-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Poppins";
}

.login-card {
  left: 0;
  width: 50%;
  z-index: 2;
  color: #d1ae8d;
}

.card.right-panel-active .login-card {
  transform: translateX(100%);
}

.register-card {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.card.right-panel-active .register-card {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-card {
  position: absolute;
  font-family: "Poppins";
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.card.right-panel-active .overlay-card {
  transform: translate(-100%);
}

.overlay {
  background-image: url("../images/cloudscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #241804;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, #ab9a7c 40%, rgba(46, 109, 56, 0));
  opacity: 50%;
}

.card.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.card.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.card.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.alert-container {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c95f58;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  z-index: 2000;
}

.alert-message {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #d1ae8d;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.navbar a {
  font-size: medium;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  margin-right: 15px;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.webname {
  margin-top: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
  color: #333;
}

.user-icon-container {
  margin-right: -30px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d1ae8d;
  width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
  z-index: 1;
  left: -48px; /* Adjust the position as per your requirement */
  border-radius: 10px;
  border-width: 2px;
}

.dropdown-content a {
  color: #ffff;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  border: 1px solid transparent; /* Add border */
  width: 113px;
}

.dropdown-content a:hover {
  background-color: #f4e4c9;
  border-radius: 10px;
}

user-button img {
  width: 50px;
  height: 50px;
}

.user-button img.scrolled {
  content: url("../../images/usericon\ dark.png");
  width: 50px;
  height: 50x;
}

.go-back {
  font-size: 24px;
  color: #ab9a7c; 
  background-color: transparent; 
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  padding: 10px; 
  border-radius: 5px; 
  transition: color 0.3s ease, background-color 0.3s ease; 
}

.go-back:hover {
  color: #fff;
  background-color: #ab9a7c; }